{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Autumn store where you can buy different items......
    {% endif %}
{% endblock %}
{% block title %}
   {% if category %}
       {{category.name}} - Autumn Store
    {% else %}
        See our new Collections - Autumn Store
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div>
        <div class="row my_row_class">
            <div class="mx_auto">


        <p><a href="{% url 'shop:allProdCat' %}">Our Product Collections</a></p>
        </div>
    </div>
    </div>
     {% endif %}
<div  class="mx_auto">
    {% if category %}
        <img  class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div>
<img  class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our product" width="1600px;",>
</div>
<br>
<div>
    <h1 class="text-center my_title">Our products Collections</h1>
    <p class="text-justify">A collection is a collection or set of pieces of clothing and/or accessories that have some relationship with each other. This relationship is usually centered on the chosen theme, which in turn is related to the consumer’s style and the image of a particular brand.

The functioning of a collection and its principles are, in theory, very simple: it serves to introduce the fashion world to the stylist’s ideas and concepts through their compositions, techniques, fabrics, colors, cuts, and other fundamental elements of the pieces. with clothes.

Most collections, from the most sophisticated brands to those at an early stage, are generally composed of two types of product: the basic ones, which remain on sale for a longer time (more common in prêt-à-porter), and the fashions, which have a shorter, often limited, sales period.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
               <a href="?page={{pg}}"  class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}